@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form method="post">
        <h1>Welcome to Hunting with CWD</h1>
        <p>Our website is designed to inform hunters about a particular disease currently infesting our deer population.
            At Hunting with CWD, we believe knowledge is power. Thus we have created this resource just for you!</p>
        <h1>@Model.peachmanString</h1>
        <input type="text" name="txtState" value="" />
        <input type="submit"  asp-page-handler="Submit" value="Add Record"/><br /><br />
        <input type="submit"  asp-page-handler="Test" value="Press Me Too"/>
    </form>
   

    <p>
        @{
            string s = "Kyle ";

            for(int x=0; x<10; x++)
            {
                s += "really ";
            }
            s += "sucks ass";
        }
        <b>@s</b>

    </p>

   <!-- <img src="~/lib/Images/Overview.png" width="900" height="600"> -->

</div>
