@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Welcome to Hunting with CWD</h1>
    <p>Our website is designed to inform hunters about a particular disease currently infesting our deer population.
        At Hunting with CWD, we believe knowledge is power. Thus we have created this resource just for you!</p>
</div>
